.nav{
    background-color: #0221aa;
}
.nav .nav-item .nav-link {
    color:white;
}
#pets{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    margin-top: 2rem;
    row-gap: 1rem;
}
.pet{
    background: #dedede;
    border: 1px solid black;
    padding: 1rem;
}

.search{
  display: flex;
}
.search-input{
  width: 40%;
}

table{
    border-collapse: collapse;
  }
  tr{
    border:1px solid #000;
  }
  td{
    border:1px solid #000;
  }
 /* .active 
    
  }*/
#map{
  width:500 px;
  height: 180px;
  border: blackan;
}